@inherits LayoutComponentBase
<div class="page skalmejen-page">
    <div class="skalmejen-page-bg">
        <main class="skalmejen-page-content-container">
            @Body
        </main>
    </div>
</div>
