@inherits LayoutComponentBase

<div class="page">
	<div class="skalmejen-background">
		<TopBarComponent></TopBarComponent>
		@Body
	</div>
</div>
<script>
    window.transferScreenWidth = () => window.innerWidth;
    window.transferScreenHeight = () => window.innerHeight;
    window.transferUserAgent = () => navigator.userAgent;
    window.setSkalmejenCookie = (screenSizeName, cookieName) => document.cookie = (cookieName + "=" + screenSizeName);
</script>