@inherits LayoutComponentBase

<div class="page skalmejen-page">
    <div class="skalmejen-page-bg">
        <main class="skalmejen-page-content-container">
            @Body
        </main>
    </div>
</div>

<script>
    window.transferScreenWidth = () => window.innerWidth;
    window.transferScreenHeight = () => window.innerHeight;
    window.transferUserAgent = () => navigator.userAgent;
    window.setSkalmejenCookie = (screenSizeName, cookieName) => document.cookie = (cookieName + "=" + screenSizeName);
</script>